.abaut {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 1rem;
    background-color: rgba(0, 128, 128, 0.50);
    border-style: outset;
    border-radius: 1rem;
    color: gainsboro;
}

.content{
    margin: 1rem;

}