.portfolio{
    background-image: url('../../assets/coding.jpg');

    background-size: cover;
    background-position: center center;
}
.cuote{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0px 2px 5px whitesmoke;
    padding: 1rem;
    border-style: groove;
    border-color: #976161;;
    margin: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    background-color: rgb(43 47 50 / 69%);
    border-style: outset;
    border-radius: 1rem;
    color: gainsboro;
}